body{
    background-image: none;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-repeat: calc();
    background-size: 1400px;
    align-items: center;
    display: block;
    width: auto;
    height: 100%;
}

label{
    font-style: italic; 
    font: optional;
}

form{
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

legend{
    font-weight: bold;
    font-style: italic;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-weight:500;
    font-size: 30;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: whitesmoke;

}

hr{
    color: red;
    size: 50px;
}

.card{
    width: 300px;
    height: 100px;
    background-color: transparent;
    border: pink;
}

.carousel-item{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -99;
}

#tzcarousel {
    margin-top: 30px;
    min-height: 300px;
    min-width: 100%;
}

#tzcarousel img{
    height: 100vh;
    width: 100%;
}

/* keeps this behind all content */
.carousel .item {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}

.carousel-item p {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel .one {
    background: url(images/lion.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .two {
    background: url(images/zanzi2.jpeg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .three {
    background: url(images/umb.jpeg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}
